@font-face {
	font-family: "Larsseit";
	src: url("./assets/fonts/Larsseit-Bold.woff2") format("woff2"), url("../assets/fonts/Larsseit-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("./assets/fonts/Larsseit-Light.woff2") format("woff2"), url("../assets/fonts/Larsseit-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("./assets/fonts/Larsseit.woff2") format("woff2"), url("../assets/fonts/Larsseit.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

:root {
	--dl-accent-color: #34ccaa;
	--dl-accent-color-dark: #2db496;
	--apva-accent-color: #00463b;
	--apva-accent-color-light: #006657;
	--light-grey: #e6e9ed;
}

body {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: "Larsseit", helvetica, arial, verdana, sans-serif;
	font-size: 1rem;
	margin: 0;
}

.j-bold-font {
	font-weight: 700;
}

.j-flex-col {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.j-form-bg {
	background: var(--light-grey);
	display: flex;
	justify-content: center;
	width: 100%;
}

.j-form-container {
	background: transparent;
	padding: 20px;
}

.j-form-element {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	font-weight: 700;
	align-items: center;
	justify-content: center;
}

.j-form-element-content {
	display: flex;
	align-items: center;
}

.j-full-width-flex {
	display: flex;
	width: 100%;
	justify-content: center;
}

.j-input {
	width: 191px;
	text-align: center;
	margin-left: 1rem;
	padding: 3px;
}

.j-input-error {
	color: red;
	font-weight: 700;
	font-size: 0.7rem;
	width: 100%;
}

.j-input:focus::placeholder {
	color: transparent;
}

.j-label {
	min-width: 212px;
	text-align: left;
}

.j-label sup {
	vertical-align: baseline;
	color: red;
}

.j-spouse-age {
	display: none;
}

.j-submit-btn {
	margin: 1rem;
	font-weight: 700;
	padding: 8px;
	width: 70px;
	text-align: center;
	border-radius: 8px;
	background: var(--apva-accent-color);
	color: white;
	/* box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); */
	transition: ease 0.2s;
}

.j-submit-btn:hover {
	cursor: pointer;
	width: 80px;
	background: var(--apva-accent-color-light);
	transition: ease 0.3s;
}

.j-summary-table-container {
	position: relative;
	display: flex;
	justify-content: center;
	height: auto;
}

.j-summary-banner {
	background: var(--apva-accent-color);
	color: white;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	padding: 1rem;
}

.j-third-flex {
	display: flex;
	width: auto;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1.5rem;
}

.j-summary-table {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
@media only screen and (max-width: 600px) {
	.j-summary-table {
		width: fit-content;
		margin: auto;
		justify-content: center;
		flex-direction: column;
	}
	.j-third-flex {
		width: 100%;
		/* padding-left: 5rem; */
	}
}

.j-summary-table p {
	display: inline;
}

.j-summary-table-element:not(:last-child) {
	margin-bottom: 1.5rem;
}

.j-summary-contents {
	position: absolute;
	width: 100%;
	top: -300px;
	z-index: -1;
}

.j-summary-slide-in {
	position: absolute;
	top: 0px;
	transition: ease 0.5s;
}

/* REMOVE ARROWS ON NUMBER FIELDS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* ALIGN THE WIDTH OF INPUT AND SELECT BOXES */
input,
select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
